<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Stitch Up</title>
  <!-- fontawesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!-- jquery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <!-- css -->
  <link rel="stylesheet" href="/css/style.css">
  <!-- google font -->
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
  <style>
  a:link,
  a:visited {
    color: black;
    background-color: transparent;
    text-decoration: underline;
  }
</style>
</head>

<body>

  <!-- Footer -->
  <footer class="page-footer font-small blue pt-4">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="footer-margin col-md-6 mt-md-0 mt-3">

          <!-- Content -->
          <h3 class="list-unstyled">Our support team is available from 08:00 am - 08:00 pm (Mon - Sun)
            Email us: <a href="mailto:support@repairbuy.in">support@repairbuy.in</a></h3>
          <div class="mobile-service">

            <h3>Brands We Repair</h3>

            <a href="/apple">Apple Mobile Repair Service</a><br>
            <a href="/samsung">Samsung Mobile Repair Service</a><br>
            <a href="/oppo">Oppo Mobile Repair Service</a><br>
            <a href="/oneplus">OnePlus Mobile Repair Service</a><br>
            <a href="/vivo">Vivo Mobile Repair Service</a><br>
            <a href="/mi">Xiaomi Mobile Repair Service</a><br>
            <a href="#">Huawei Mobile Repair Service</a><br>
            <a href="lenevo">Lenovo Mobile Repair Service</a><br>
            <a href="motorola">Motorola Mobile Repair Service</a><br>
          </div>
          <div class="ft-main-item">
            <h2 class="ft-title">Stay Updated</h2>
            <p>Subscribe to our newsletter to get our latest news.</p>
            <form>
              <input type="email" name="email" placeholder="Enter email address">
              <input class="submit" type="submit" value="Subscribe">
            </form>
          </div>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none pb-3">

        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">

          <!-- Links -->
          <h3 class="text-uppercase">Address</h3>

          <ul class="list-unstyled">
            <h4>LearnersQ Pvt. Ltd.</h4>
            <h4>Address : D-17/344, Sector -3, Rohini</h4>
            <h4>Delhi, India, 110085</h4>
            <h4>Landmark: Near Jims College</h4>
          </ul>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">

          <!-- Links -->
          <h3 class="text-uppercase">follow Us On</h3>
          <a href="#">
            <i class="fa fa-instagram fa-2x"></i></a>
          <a href='#'><i class="fa fa-facebook-f fa-2x"></i></a>
          <a href='#'>
            <i class="fa fa-twitter-square fa-2x"></i></a>
          <div class="list-unstyled">
            <h4>**All rights reserved. Trademarks, brands, logos, and product names are copyright to their respective owners and used for representational purposes only. Use of these elements do not imply endorsement.</h4>
          </div>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <section class="ft-legal" style="margin-bottom: 7rem !important;">
      <ul class="ft-legal-list" style="list-style-type:none;">
        <li><a href="/termscond">Terms & Conditions</a></li>
        <li><a href="/waranty">Warranty Policy</a></li>
        <li>@ 2020 Copyright StitchUp</li>
      </ul>
    </section>
    <!-- Copyright -->

    <!-- sticky footer -->
    <section class="sticky-section">
      <ul class="sticky-element-list" style="list-style-type:none;">
        <li class="footer-link-margin"> Call us at <a class="footer-link" href="tel:8077223484">8077223484</a></li>
        <li class="footer-link-margin"> Email Us <a class="footer-link" href="mailto:Stitchup@gmail.com"> stitchup@gmail.com</a></li>
        <li class="footer-link-margin"> For further support <a class="footer-link" href="mailto:stitchup@gmail.com">stitchup@gmail.com</a></li>
      </ul>
    </section>
    <!-- sticky footer -->
  </footer>
  <!-- Footer -->
</body>

</html>
