<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/style1.css">
  <!-- bootstrap js, jquery & css -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  <!-- bootstrap and css -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">



  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  <!-- google fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Henny+Penny&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@500&family=Staatliches&display=swap" rel="stylesheet">
  <style>
    a:link,
    a:visited {
      color: black;
      background-color: transparent;
    }
  </style>
</head>

<body>
  <SECTION class="top">


    <!-- navbar (Image and text) -->
    <!-- Image and text -->
    <div class="top-container">
  <h1 class="neon">Stitch <span class="neon-1">Up</span></h1>
  <h3 class="upper-text">Service Hours: 08:00 am - 08:00 pm (Mon - Sun) <br> <a style="margin-right: 30rem; color: green;" href="tel:8077223484">8077223484</a> </h3>
</div>


    <!-- carousel -->
    <div class="header-carousel">
      <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="img-top carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100" src="images\s1.png" alt="First slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="images\s2.png" alt="Second slide">
          </div>
        </div>
      </div>
    </div>
  </SECTION>
  <section id="booking-form">
    <div class="card text-center">
      <div class="card-header">
        Book Your Service
      </div>
      <div class="card-body">

        <!-- form-->
        <input class="form-control input-data" type="text" placeholder="Your Name*">
        <input class="form-control input-data" type="text" placeholder="Phone No*">
        <input class="form-control input-data" type="text" placeholder="pincode">
        <input class="form-control input-data" type="text" placeholder="Brand*">
        <input class="form-control input-data" type="text" placeholder="Model*">
        <a href="#" class="btn btn-primary">BOOK</a>
      </div>

    </div>

  </section>
  <!-- fixed strip -->
  <section id="fixed_strip_wrapper">
    <div class="fixed_strip">
      <div class="container">
        <div class="col-md-12">
          <div class="strip_inner">
            <span> <i class="fa fa-check-circle" aria-hidden="true"></i>
              <span>Certified parts</span>
            </span>
            <span>
              <i class='fas fa-shield-alt'></i>
              <span>Customer Safety is Our Priority</span>
            </span>
            <span>
              <i class="fa fa-check-shield" aria-hidden="true"></i>
              <span>12/7 Customer Support</span>
            </span>
          </div>

        </div>

      </div>

    </div>
  </section>
  <section id="middle-section">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-8">
          <div class="thought">
            <div class="thought-heading">
              <h1>Stay Safe,Stay at Home,Book Now!!</h1>
            </div>
            <div class="thought-line1">
              <h3>We're in this together! To stop the spread of covid-19.</h3>

            </div>
            <div class="thought-line2">
              <h3>Book your phone's repair call us at <a href="tel: 8077223484">8077223484</a> </h3>

            </div>

          </div>



          <!-- middle-section2 -->
          <div class="services">
            <div class="service-heading">
              <h2>Why Choose Our Services</h2>
              <hr>

            </div>
            <div class="all-services">
              <div class="service-1 service-box">
                <div class="service-logo">
                  <!-- logo-link -->

                </div>
                <div class="service-name-content">
                  <div class="service-name">
                    <i class="fa fa-clock-o fa-spin fa-5x"></i>
                    <h4 class="thick-h4"> Quick Services</h4>
                  </div>
                  <div class="service-content">
                    <p>We understand your time is precious.Our company expert will fix your device within 30 minutes!</p>

                  </div>
                </div>
              </div>

              <div class="service-2 service-box">
                <div class="service-logo">
                  <!-- logo-link -->

                </div>
                <div class="service-name-content">
                  <div class="service-name">
                    <i class="fa fa-recycle fa-spin fa-3x"></i>
                    <h4 class="thick-h4">E-waste management</h4>
                  </div>
                  <div class="service-content">
                    <p>At RepairBuy, e-waste is channelized to a registered recycler for their safe transportation and disposal</p>

                  </div>
                </div>
              </div>
              <div class="service-3 service-box">
                <div class="service-logo">
                  <!-- logo-link -->

                </div>
                <div class="service-name-content">
                  <div class="service-name">
                    <i class="fa fa-certificate fa-spin fa-3x"></i>
                    <h4 class="thick-h4">Certified Professionals</h4>
                  </div>
                  <div class="service-content">
                    <p>RepairBuy technicians are professionally experienced. Rest assured, your device is in safe hands</p>

                  </div>
                </div>
              </div>
              <div class="service-4 service-box">
                <div class="service-logo">
                  <!-- logo-link -->

                </div>
                <div class="service-name-content">
                  <div class="service-name">
                    <i class="fa fa-motorcycle fa-spin fa-3x"></i>
                    <h4 class="thick-h4">Free Doorstep Service</h4>
                  </div>
                  <div class="service-content">
                    <p>Get premium mobile screen repair service at your doorstep with no additional cost.</p>

                  </div>
                </div>
              </div>
              <div class="service-5 service-box">
                <div class="service-logo">
                  <!-- logo-link -->

                </div>
                <div class="service-name-content">
                  <div class="service-name">
                    <i class="fas fa-house-user fa-3x fa-spin"></i>
                    <h4 class="thick-h4">6-Month Warranty</h4>
                  </div>
                  <div class="service-content">
                    <p>We offer 6-month warranty. Our team will share all the warranty related information with you</p>

                  </div>
                </div>
              </div>
              <div class="service-6 service-box">
                <div class="service-logo">
                  <!-- logo-link -->

                </div>
                <div class="service-name-content">
                  <div class="service-name">
                    <i class="fa fa-users fa-spin fa-3x"></i>
                    <h4 class="thick-h4">Transparency</h4>
                  </div>
                  <div class="service-content">
                    <p>RepairBuy provides complete, authoritative and timely declaration of information to its customers</p>

                  </div>
                </div>
              </div>
              <!-- brands we repair -->
              <section id="popular brands">
                <div class="brand-heading">
                  <h3 class="thick-h4">Popular Brands We Repair</h3>
                  <hr>
                </div>
                <div class="all-brands">
                  <div class="brand-logo logo-1">
                    <div class="brand-image">
                      <img src="images\apple.png" alt="apple">
                    </div>
                    <div class="brand-name">
                      <a href="/apple">
                        <h4>Apple</h4>
                      </a>
                    </div>
                  </div>

                  <div class="brand-logo logo-2">
                    <div class="brand-image">
                      <img src="images\lenovo.jpeg" alt="">
                    </div>
                    <div class="brand-name">
                      <a href="/lenevo">
                        <h4>Lenovo</h4>
                      </a>
                    </div>
                  </div>

                  <div class="brand-logo logo-3">
                    <div class="brand-image">
                      <img src="images\mi.png" alt="">
                    </div>
                    <div class="brand-name">
                      <a href="/mi">
                        <h4>Xiaomi</h4>
                      </a>
                    </div>
                  </div>

                  <div class="brand-logo logo-4">
                    <div class="brand-image">
                      <img src="images\motorolla.png" alt="">
                    </div>
                    <div class="brand-name">
                      <a href="/motorola">
                        <h4>Motorola</h4>
                      </a>
                    </div>
                  </div>

                  <div class="brand-logo logo-5">
                    <div class="brand-image">
                      <img src="images\oneplus.png" alt="">
                    </div>
                    <div class="brand-name">
                      <a href="/oneplus">
                        <h4>OnePlus</h4>
                      </a>
                    </div>
                  </div>

                  <div class="brand-logo logo-6">
                    <div class="brand-image">
                      <img src="images\oppo.png" alt="">
                    </div>
                    <div class="brand-name">
                      <a href="/oppo">
                        <h4>Oppo</h4>
                      </a>
                    </div>
                  </div>
                  <div class="brand-logo logo-7">
                    <div class="brand-image">
                      <img src="images\samsung.png" alt="">
                    </div>
                    <div class="brand-name">
                      <a href="/samsung">
                        <h4>Samsung</h4>
                      </a>
                    </div>
                  </div>

                  <div class="brand-logo logo-8">
                    <div class="brand-image">
                      <img src="images\vivo.png" alt="">
                    </div>
                    <div class="brand-name">
                      <a href="/vivo">
                        <h4>Vivo</h4>
                      </a>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>
          <!-- this is secomd column -->
          <div class="bottom-offer-box">
            <h3 class="moving-h3" style="font-weight: 900;">Offering You the best Mobile repair Services</h3>
            <div class=" bottom-offer-text">
              <div class="bottom-offer"> <i class="fa fa-rupee-sign fa-2x"></i>
                <h4>Best Pricing</h4>
              </div>
              <div class="bottom-offer"> <i class="fa fa-truck fa-2x"></i>
                <h4>Fast-Service</h4>
              </div>
              <div class="bottom-offer"> <i class='fas fa-shield-alt fa-2x'></i>
                <h4>Data-Privacy</h4>
              </div>
              <div class="bottom-offer"> <i class="fa fa-mobile fa-2x"></i>
                <h4>Certified Parts</h4>
              </div>
            </div>
          </div>

        </div>
      </div>
  </section>
</body>

</html>
