<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Apple</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/css/style4.css">
</head>

<body>
  <div class="container-fluid">
    <div class="model-page">
      <div class="heading-model model-box">
        <h2>Apple Models We Repair</h2>
      </div>
      <div class="middle-model model-box">
        <div class="row">
          <div class="col-md-4">
            <ul class="list-group" style="list-style-type:none;">
              <li><a href="#">
                  <div class="model-name">
                    <div class="model-icon"><i class="fa fa-chevron-circle-right"></i></div>
                    <div class="model-text">Iphone 6s plus</div>
                  </div>
                </a></li>
              <li><a href="#">
                  <div class="model-name">
                    <div class="model-icon"><i class="fa fa-chevron-circle-right"></i></div>
                    <div class="model-text">Iphone 7s </div>
                  </div>
                </a></li>
              <li><a href="#">
                  <div class="model-name">
                    <div class="model-icon"><i class="fa fa-chevron-circle-right"></i></div>
                    <div class="model-text">Iphone 7s+ </div>
                  </div>
                </a></li>
              <li><a href="#">
                  <div class="model-name">
                    <div class="model-icon"><i class="fa fa-chevron-circle-right"></i></div>
                    <div class="model-text">Iphone 8s </div>
                  </div>
                </a></li>
              <li><a href="#">
                  <div class="model-name">
                    <div class="model-icon"><i class="fa fa-chevron-circle-right"></i></div>
                    <div class="model-text">Iphone 8s+ </div>
                  </div>
                </a></li>
            </ul>
          </div>
          <div class="col-md-4">
            <ul class="list-group" style="list-style-type:none;">
              <li><a href="#">
                  <div class="model-name">
                    <div class="model-icon"><i class="fa fa-chevron-circle-right"></i></div>
                    <div class="model-text">Iphone SE </div>
                  </div>
                </a></li>
              <li><a href="#">
                  <div class="model-name">
                    <div class="model-icon"><i class="fa fa-chevron-circle-right"></i></div>
                    <div class="model-text">Iphone 5 </div>
                  </div>
                </a></li>
              <li><a href="#">
                  <div class="model-name">
                    <div class="model-icon"><i class="fa fa-chevron-circle-right"></i></div>
                    <div class="model-text">Iphone 5s </div>
                  </div>
                </a></li>
              <li><a href="#">
                  <div class="model-name">
                    <div class="model-icon"><i class="fa fa-chevron-circle-right"></i></div>
                    <div class="model-text">Iphone 6s </div>
                  </div>
                </a></li>
              <li><a href="#">
                  <div class="model-name">
                    <div class="model-icon"><i class="fa fa-chevron-circle-right"></i></div>
                    <div class="model-text">Iphone 6+ </div>
                  </div>
                </a></li>
            </ul>
          </div>

          <div class="col-md-4">
            <ul class="list-group" style="list-style-type:none;">

              <li><a href="#">
                  <div class="model-name">
                    <div class="model-icon"><i class="fa fa-chevron-circle-right"></i></div>
                    <div class="model-text"> Iphone 6s </div>
                  </div>
                </a></li>
              <li><a href="#">
                  <div class="model-name">
                    <div class="model-icon"><i class="fa fa-chevron-circle-right"></i></div>
                    <div class="model-text"> Iphone 12 </div>
                  </div>
                </a></li>
              <li><a href="#">
                  <div class="model-name">
                    <div class="model-icon"><i class="fa fa-chevron-circle-right"></i></div>
                    <div class="model-text"> Iphone XR </div>
                  </div>
                </a></li>
              <li><a href="#">
                  <div class="model-name">
                    <div class="model-icon"><i class="fa fa-chevron-circle-right"></i></div>
                    <div class="model-text"> Iphone 11 Pro </div>
                  </div>
                </a></li>
              <li><a href="#">
                  <div class="model-name">
                    <div class="model-icon"><i class="fa fa-chevron-circle-right"></i></div>
                    <div class="model-text"> Iphone XS </div>
                  </div>
                </a></li>


            </ul>
          </div>
        </div>
      </div>
      <div class="buttom-model model-box">
        <p>And many other models....</p>
          <a href="/landingpage"> <i class="fa fa-home fa-3x"></i> BACK TO HOME</a>
      </div>
    </div>
  </div>
  <%- include ('partials/footer') -%>
</body>

</html>
