<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Warranty Policy</title>
    <link rel="stylesheet" href="/css/style3.css">
    <!-- google font -->
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
    <!-- bootstrap jquery fontawesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  </head>
  <body>
    <nav class="icon navbar-light t">
        <!-- <img src="/docs/4.0/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt=""> -->
        <h1 class="icon-color">StitchUp</h1><i class="fa fa-gavel fa-3x" aria-hidden="true"></i>

      </a>
    </nav>
    <div class="main">
    <div class="warranty-div1">
      <h1>Warranty Policy</h1>
      <h4>RepairBuy offers a 6-month warranty on the replaced screen under these conditions:</h4>
      <ol>
        <li>RepairBuy has the right to refuse service on any claims solely at its own discretion</li>
        <li>The warranty includes factory screen defects, such as unresponsive or erratic touch, and dead pixels.</li>
        <li>The 6-month warranty is applicable only on the mobile screen replacement featuring the same benchmarks and capabilities of the original faulty screen.</li>
        <li> The warranty does not cover any other parts of the mobile.</li>
        <li>The warranty only covers manufacture defects, and does not encompass damage due to manual intervention.</li>
        <li>RepairBuy provides 3 months warranty except screen replacement.</li>
        <li>Any display issues that may arise without any manual intervention and are related to the screen quality specifically visible lines and the blank screen.</li>
      </ol>
      <h4>The 6-month warranty is NOT valid under these conditions:</h4>
      <ol>
        <li> If you don’t hand over the non-working mobile part to the RepairBuy technician, the warranty will be valid only for 3 months.</li>
        <li>In case other components of the mobile are damaged, and the phone refuses to turn on and perform all the tasks it is supposed to do.</li>
        <li>If the phone is left partially working, following an unsuccessful repair attempt at home or by any other vendor.</li>
        <li>In case a phone model is known to have a particular manufacturing/performance issue that impairs the functioning of the screen.</li>
        <li>In case the mobile’s frame is damaged</li>
        <li>In case the mobile is jail-broken.</li>
        <li> If the internal hardware is tampered with, especially through a self-repair attempt.</li>
        <li>The warranty will not cover phones that have been damaged negligently and intentionally.</li>
        <li>It is also not applicable to devices that have been repaired or tampered-with before, by anyone else other than RepairBuy.</li>
        <li>In case the device is transferred or sold to another user. The second-hand user will not be entitled to the warranty.</li>
        <li> Warranty on Battery is NOT valid in case of excessive charging, battery swell, overnight charging or use of non-OEM Charging Cable/Adapters</li>
        <li>Subsequent mishandling which causes the frame to bend, twist or crack will not be entertained.</li>
        <li>Subsequent mishandling with the screen such as hard press that may initiate discoloring or lining on the display.</li>
        <li>Warranty will not be applicable if there is a damange to the phone.</li>
      </ol>
      <h4>To claim the 6-month warranty, all you have to do is:</h4>
      <ol>
        <li>Ask the repair expert fixing your broken phone screen to avail the warranty. After providing the necessary details, you’ll receive the warranty if all the prerequisites are fulfilled.</li>
        <li>Once you have claimed the warranty, the RepairBuy team will take about 48-72 hours to resolve your issue. However, it may take more, depending on the nature of your case.</li>
        <li>Share the video of the phone with the prevailing display issue at support@repairbuy.in</li>
        <li>Send us your phone number/order number/IMEI Number. Just about any of it at support@repairbuy.in</li>
        <li>Important Note: In order to prevent any loss of data occurring as a result of the repair, customers are advised to back up all data prior to the repair attempt.</li>
      </ol>
        <a href="/landingpage"> <i class="fa fa-home fa-3x"></i> BACK TO HOME</a>
    </div>
    <div class="terms-bottom-div">
      <p>www.stitchup.com</p>
        <h5>Contact Us : 88 6006 2002</h5>
        <p>LearnersQ Pvt. Ltd.
        D-17/344, Sector -3, Rohini
        Delhi, India, 110085
        Landmark: Near Jims College
        CIN : U80900DL2016PTC309789</p>

    </div>
  </div>
  </body>
</html>
